{% extends 'Blog/base.html' %} 
{% load static %}


{% block content %}
<div class="col-sm-8">
    <h3 class="text-White my-5">About Page</h3>
</div>

<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime rem debitis corrupti perferendis deleniti sit, accusantium mollitia. Obcaecati, veniam corporis.
</p>
<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Tenetur porro earum expedita quia adipisci, quidem officiis fugiat est. Quidem, quia quo laborum dolor sit iste repudiandae dolorem alias distinctio maiores natus tempora ipsa nisi odio et deserunt velit rem eius eum voluptate hic beatae. Voluptatum iste laborum sit numquam ducimus!
</p>


{% endblock content %}