{% extends 'Blog/base.html' %} 
{% load static %}


{% block content %}
<div class="col-sm-8">
    <h3 class="text-White my-5">Become an Author</h3>
{% if massages %}
{% for massage in massages %}
<p {% if massage.tags %} class="alert alert-{{massage.tags}} mb-5" {% endif %} >{{massage}}</p>
{% endfor %}
{% endif %}

<form action="" method="post" novalidate>
{% csrf_token %}
{% for fm in form %}
<div class="form-group">
    {{fm.label_tag}} {{fm}} <small class="text-warning"> {{fm.errors|striptags}} </small> <br>
</div>
{% endfor %}
<input type="submit" value="Submit" class="btn btn-primary">
{% if form.non_field_errors %}
{% for error in form.non_field_errors  %}
<p class="alert alert-danger my-3">{{error}}</p>
{% endfor %}
{% endif %}

</form>
</div>

{% endblock content %}